* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 960px;
    margin: 0px auto;
}

.half-width {
    width: 50%;
}

.button {
    width: 155px;
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
}

.button a {
    text-decoration: none;
    margin-right: 5px;
    color: #fff;
}

header {
    background-color: #2D25A0;
    width: 100%;
}

#banner-section {
    display: flex;
    padding: 80px 0px;
}

.banner-left {
    
}

.banner-left h1 {
    font-weight: 700;
    font-size: 64px;
    color: #fff;
}

.banner-left .button {
    margin-top: 15px;
}

.banner-right img {
    width: 100%;
}

/* Main Part Start */

#blog-post {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    grid-gap: 30px;
    margin: 80px 0px;
    padding: 0px 20px;
}

.blogs {
    padding: 20px;
    box-shadow: 5px 5px 45px rgb(221, 213, 213);
}

.blogs img {
    width: 100%;
}

#highlights {
    display: flex;
}

.highlights-left {
    display: flex;
    flex-direction: column;
}

.highlights-right img {
    width: 100%;
}

#key-players {
    margin-top: 80px;
}

#key-players .player-states {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    grid-column-gap: 30px;
}




/* Main Part End */

footer .logo img{
    width: 50%;
}

.social-icons {
    display: flex;
}

.social-icons a{
    list-style: none;
    
}

.social-icons i {
    margin-right: 10px;
    padding: 20px;
    border-radius: 50%;   
    background-color: #E7E7E8;
    font-size: 20px;
    color: #969BAB;
} 