* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1050px;
    max-width: 100%;
    margin: 0px auto;
    
}

.half-width {
    width: 50%;
}

.button {
    width: 160px;
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
}

.button a {
    text-decoration: none;
    margin-right: 5px;
    color: #fff;
}

.button:hover {
    background-color: #fff;
    color: #E02C6D;
    border: 1px solid #E02C6D;
    transition: .5s ease;
}

.button:hover a {
    /* background-color: #fff; */
    color: #E02C6D;
    transition: .5s ease;
}


/* Header Part Start */
header {
    background-color: #2D25A0;
    width: 100%;
}

#banner-section {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0px;
    
}

#banner-section img {
    transition: .3s;
}

header:hover #banner-section img {
    transform: scale(.8);
    transition: .3s;
}


.banner-left h1 {
    font-weight: 700;
    font-size: 64px;
    color: #fff;
}

.banner-left .button {
    margin-top: 15px;
}

.banner-right img {
    width: 100%;
    max-width: 100%;
}

/* Header Part End */

/* Main Part Start */

/* Blog Post Part Start */
#blog-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 50px 0px;
    padding: 0px 20px;
}

.blogs {
    padding: 20px;
    box-shadow: 5px 5px 40px rgb(221, 213, 213);
}

.blogs img {
    width: 100%;
}

/* Blog Post Part End */

/* Highlights Parts Start */

#highlights {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.highlights-left {
    padding-right: 20px;
    margin-top: 30px;
}

.highlights-left h2 {
    font-size: 48px;
    font-weight: 700;

}

.highlights-left .button {
    margin-top: 20px;
}



.highlights-right img {
    width: 100%;
    padding-left: 20px;
}

/*  Highlights Parts End  */

/* Key Players Part Start */

#key-players {
    margin: 80px 0px;
    border: 4px solid #E02C6D;
    border-radius: 10px;
}

#key-players h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
}

/* Player States */

.player-states {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 0px 20px;
}




.players-list {
    border: 2px solid #E02C6D;
    padding: 10px;
    width: 100%;
    margin: 10px;
}

.players-list img {
    width: 100%;
}


.player-details {
    padding: 5px 0px;
}

.players-name {
    background-color: rebeccapurple;
    color: #E7E7E8;
    text-align: center;
    width: 85%;
    padding: 5px;
    border-radius: 20px;
    margin: 0px auto;
}

.player-awards {
    width: 75%;
    text-align: center;
    margin: 0px auto;
}

.player-awards small {
    font-size: 12px;
    color: gray;
}

.player-informations {
    text-align: center;
    padding: 2%;
}

/* Year States */

.year-states {
    margin: 20px 10px;
    padding: 20px 0px 100px 0px;
    background-color: rgb(94, 94, 119);
}

.year-states .heading {
    text-align: center;
    padding: 20px 0px;    
}

.indivisual-performance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.performance {
    margin: 0px 10px;
    background-color: #2D25A0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #30323848;
    text-align: center;
}

.performance h4 {
    font-size: 20px;
}

.performance h2 {
    font-size: 36px;
    font-weight: 700;
}

/* Key Players Part End */

#newsteller {
    margin: 50px 0px;
}


.newsteller-main {
    width: 600px;
    max-width: 100%;
    background-color: #3DBAFD;
    margin: 0px auto;
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
}

#newsteller .newsteller-heading {
    margin: 40px 0px;
}

#newsteller .sub-heading {
    margin: 30px 0px;
}

#newsteller p {
    margin: 50px 0px;
}

.newsteller-main form {
    margin: 20px 0px;
}

.newsteller-main input {
    padding: 15px 130px;
    font-size: 20px;
    border-radius: 50px;
    border: 5px solid #2D25A0;
    max-width: 100%;

}

.newsteller-main .submit-btn {
    padding: 15px 105px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 15px;
    background-color: #E02C6D;
    color: #fff;

}

.submit-btn:hover {
    background-color: #fff;
    color: #E02C6D;
    border: 5px solid #E02C6D;
    transition: .5s ease;
    
}

.newsteller-main input:focus {
    outline: none;
}

/* Main Part End */


/* Footer Part Start */

.footer-area {
    margin: 50px 0px;
}

.footer-logo img{
    width: 50%;
    margin: 10px 0px 10px 200px;
}

.social-icons {
    text-align: center;
    margin-bottom: 30px;
}

.social-icons a{
    list-style: none;
    
}

.social-icons i {
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;   
    background-color: #E7E7E8;
    font-size: 20px;
    color: #969BAB;
} 

.social-icons i:hover {   
    background-color: rgb(243, 224, 224);
    color: #E02C6D;
} 

.copyright {
    text-align: center;
    font-size: 24px;
}

/* Footer Part End */

/* For Mobile Device */
@media (max-width: 767px) {
    /* Header CSS Responsive */  
    .half-width {
      width: 100%;
      padding: 20px 0;
    }

    .banner-left h1 {
        font-size: 48px;
        text-align: center;
    }

    .banner-left .button {
        margin: 20px auto;

    }

    .banner-right img {
        width: 70%;
        margin-left: 120px;
    }

    #blog-post {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Highlights, Key Players and Newsteller Area Responsive */

    .highlights-left h2{
        font-size: 30px;
        text-align: center;
    }

    .highlights-left p {
        text-align: center;
    }
    
    .highlights-left .button {
        margin: 20px auto;
    }

    #key-players {
        border: none;
    }

    #key-players h2 {
        font-size: 20px;
    }

    .player-states {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 10px;
    }

    .indivisual-performance {
        grid-template-columns: repeat(1, 1fr);
    }

    .performance {
        width: 500px;
        margin: 10px auto;
    }

    .newsteller-main form {
        margin: 10px 0px;
    }
    
    .newsteller-main input {
        padding: 15px 75px;
        font-size: 20px;
        border-radius: 50px;
        border: 5px solid #2D25A0;
        max-width: 100%;
    
    }  
    
    .newsteller-main .submit-btn {
        padding: 15px 50px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 50px;
        text-transform: uppercase;
        margin-top: 15px;
        background-color: #E02C6D;
        color: #fff;
    
    }
    /* Footer Area Responsive */
    footer {
        margin: 50px 0px;
    }
    .footer-logo {
      width: 400px;
      margin-left: 80px;
    }
    
  }